<div class="global-search">
    <div class="container">
        <div class="minihome-search-details">
            <h4 class="minihome-search-before">Search results</h4>
            {% if search_keys %}
                <h1 class="global-search-title minihome-search-title">{{ search_keys }}</h1>
            {% endif %}
        </div>
        <div>{{ page.header_right }}</div>
        {% if not search_keys %}
            <form{{ attributes }}>
                {{ children }}
            </form>
        {% endif %}
        <h5 class="global-search-total">{{total_results}} results found</h5>
    </div>
</div>

