<div class="contact-section bg-black py-5">
    <div class="container">
        <div class="section-inner py-5 text-white text-center">
            {{ content.field_content.0 }}
            <div class="section-buttons mt-5 pt-4">
                <a href="{{ content.field_contact_link.0['#url'] }}" class="btn btn-white">{{ content.field_contact_link.0['#title'] }}</a>
                <a href="{{ content.field_newsletter_link.0['#url'] }}" class="btn btn-black border-white">{{ content.field_newsletter_link.0['#title'] }}</a>
            </div>
        </div>
    </div>
</div>