<div class="minihome-content global-search-results">
  <div class="container">
    {% if items or empty %}
      {%- if items -%}
        <{{ list_type }}{{ attributes.addClass('results-list', 'row', 'minihome-rows') }}>
          {%- for item in items -%}
            <li{{ item.attributes.addClass('result-row', 'col-12', 'col-md-6', 'col-lg-4') }}>{{ item.value }}</li>
          {%- endfor -%}
        </{{ list_type }}>
      {%- else -%}
        {{- empty -}}
      {%- endif -%}
    {%- endif %}
  </div>
</div>
