<div class="minihome-row global-search-card">
  {% if search_card.image %}
      <div class="ar-3-by-2">
      <a href="{{ url }}">
        <img src="{{ search_card.image }}" alt="{{ search_card.image_alt }}" />
	</a>
      </div>
  {% endif %}
  <div class="minihome-row-content">
    <h3{{ title_attributes.addClass('result-title') }}>
      <a href="{{ url }}">{{ title }}</a>
    </h3>
    {% if search_card.type or search_card.created %}
      <ul class="minihome-ptag-time">
        {% if search_card.type %}
	<li>
	<a href="{{ search_card.type_url }}">{{ search_card.type }}</a>
	</li>
        {% endif %}
        {% if search_card.created %}
          <li>{{ search_card.created }}</li>
        {% endif %}
      </ul>
    {% endif %}
    {% if search_card.excerpt %}
      <p{{ content_attributes }}>{{ search_card.excerpt|striptags|trim|length > 110 ? search_card.excerpt|striptags|trim|slice(0, 110) ~ '...' : search_card.excerpt|striptags|trim }}</p>
    {% endif %}
    {% if search_card.tags %}
      <div class="minihome-tags">
        <ul>
          {% for tag in search_card.tags|slice(0, 3) %}
            <li><a href="{{ tag.url }}">{{ tag.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
      {% if search_card.type or search_card.created %}
      <ul class="minihome-ptag-time mobile-only">
        {% if search_card.type %}
          <li><a href="{{ search_card.type_url }}">{{ search_card.type }}</a></li>
        {% endif %}
        {% if search_card.created %}
	<li>
	{{ search_card.created }}
	</li>
        {% endif %}
      </ul>
    {% endif %}
</div>
