{%
    set body_classes = [
        logged_in ? 'user-logged-in',
        not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
        node_type ? 'node-type-' ~ node_type|clean_class,
        db_offline ? 'db-offline',
        user.hasPermission('administer')  ? 'admin'
    ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
    <head>
    <link rel="icon"  type="image/x-icon"  href="/sites/default/files/nycfav.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.2/alt/video-js-cdn.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.2/video.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/3.0.2/videojs-contrib-hls.js"></script>

    <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WV35M42');</script>
	<!-- End Google Tag Manager -->
        <head-placeholder token="{{ placeholder_token|raw }}">
        <title>{{ head_title|safe_join(' | ') }}</title>

 

        <css-placeholder token="{{ placeholder_token|raw }}">
        <js-placeholder token="{{ placeholder_token|raw }}">
       
        
    </head>
    <body{{ attributes.addClass(body_classes) }}>
 
    	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV35M42"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
        {{ page_top }}
        {{ page }}
        {{ page_bottom }}
        <div class="overlay"></div>
	<div id="ms-download-asset"></div>
        <div class="login-popup" id="custom_popup">
        <div id="login_popup_button">
             <button type="button" class="close-login-popup close-popup text-white"><i class="fas fa-times fa-2x"></i></button>
            </div>
           <form class="lam-hover-login lam-logged-out lam-popup-login">

            <div class="img-d-none">
                <h3>Login to download</h3>
                <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" name="email" required="required">
                 
                </div>
                <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" name="password" required="required">
                </div>
                <div class="form-group">
                    <div class="h-captcha" data-sitekey="564fbca5-97f8-4912-99b6-880c7fd676d8"></div>
                </div>
               
                <div class="align-items-center">
                    <div class="col-4">
                    <button class="blbtn lam-hover-login-button">LOGIN</button>
                    </div>
                    {#<div class="col text-right">#}
                    {#    <div class="form-check">#}
                            {#<input id="rememberBannerCheck" class="form-check-input m-0" type="checkbox" name="rememberme" value="1">#}
                            {#<label class="form-check-label" for="rememberBannerCheck">Keep me logged in for 60 days</label>#}
                    {#    </div>#}
                    {#</div>#}
                </div>
                <div>
                    <p class="new-user-register">New user?&nbsp;&nbsp;<a href="https://nycnewswire.myriadsolutionz.com//lam/user/register" target="_blank">Register now</a></p>
                </div>
            </div>
            <input type="hidden" name="lam_login_url" value="https://content.lookatmedia.me/user/login.me">

            <input type="hidden" name="form_id" value="lookatmedam_login">
            </form>
           
        </div>
        <div class="attribution-popup d-none">
            <div class="container">
                <div class="attribution-popup-content">
                    <p class="attribution-text">When using any content from this media centre, you must include an attribution for the content creator. Select "I Understand" to proceed to download this image.</p>
                    <button type="button" class="btn btn-orange attribution-download-image" id="attr-i-understand">I Understand</button>
                    <button type="button" class="close-attribution-popup close-popup text-white"><i class="fas fa-times fa-2x"></i></button>
                </div>
            </div>
        </div>
        <div class="search-popup">
            <div class="container">
                <div class="search-popup-content">
                    <h2><strong>Targeted Search</strong></h2>
                    {{ drupal_entity('block', 'popup_search_form') }}
                    <button type="button" class="close-search-popup close-popup"><i class="fas fa-times fa-2x"></i></button>
                </div>
            </div>
        </div>
         <div class="register-popup">
            <form class="lam-popup-login lam-logged-out d-none" action="/lam/user/register" method="post"  >
                <h3>Register new account</h3>
                 <div class="form-group">
                    <input type="email" placeholder="Email address *" class="form-control" name="email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password *" id="edit-password-pass1" class="form-control js-password-field" name="password[pass1]" required="required" maxlength="128">
                </div>
                 <div class="form-group">
                    <input type="password" placeholder="Confirm Password *" id="edit-password-pass2" class="form-control" name="password[pass2]" required="required" maxlength="128">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="First Name *" class="form-control" id="edit-extra-1" name="extra-1" required="required">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Last Name *" class="form-control" id="edit-extra-2" name="extra-2" required="required">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Organisation *" class="form-control" id="edit-extra-2" name="extra-2" required="required">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Purpose *" class="form-control" id="edit-extra-2" name="extra-2" required="required">
                </div>
                <div class="form-group">
                    <label for="extra-taxresidence">Country *</label>
                    <select data-drupal-selector="edit-extra-taxresidence" id="edit-extra-taxresidence" name="extra-taxResidence" class="form-select" required>
                        <option value="">Select a country</option>
                    </select>
                </div>

                <input type="hidden" name="form_id" value="lookatme_registration">
                <div class="form-group">
                    <button name="op" value="Register" class="lam-popup-registration-button">SUBMIT</button>
                </div>
                 
               <button type="button" class="close-register-popup close-popup text-white"><i class="fas fa-times fa-2x"></i></button>
               <button type="button" class="return-register-popup close-popup text-white"><i class="fas fa-chevron-left fa-1x"><span>Return to Login</span></i></button>
                
            </form>
        </div>
        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
       <script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "4c3eeefd9e82d3365b4d4331bbbfe7010cfd26a062e7d27f8d12d4753140653b1a2010ab7b6727677d37b27582c0e9c4", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
    </body>
</html>
